@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xm8bt4');
  src:  url('fonts/icomoon.eot?xm8bt4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xm8bt4') format('truetype'),
    url('fonts/icomoon.woff?xm8bt4') format('woff'),
    url('fonts/icomoon.svg?xm8bt4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-分享:before {
  content: "\e93b";
  color: #506473;
}
.icon-search:before {
  content: "\e93a";
}
.icon-add-card:before {
  content: "\e939";
}
.icon-mail:before {
  content: "\e937";
}
.icon-set:before {
  content: "\e938";
}
.icon-正确2:before {
  content: "\e934";
}
.icon-tishi:before {
  content: "\e935";
}
.icon-充值成功:before {
  content: "\e92f";
}
.icon-勾选01:before {
  content: "\e930";
  color: #4d7fc1;
}
.icon-勾选02:before {
  content: "\e931";
  color: #c4cdd6;
}
.icon-清除:before {
  content: "\e932";
}
.icon-正确:before {
  content: "\e933";
}
.icon-标的图片:before {
  content: "\e91c";
}
.icon-到期与回款:before {
  content: "\e91d";
}
.icon-房产证:before {
  content: "\e91e";
}
.icon-工作证明:before {
  content: "\e91f";
}
.icon-户口簿:before {
  content: "\e920";
}
.icon-结婚证:before {
  content: "\e921";
}
.icon-借款协议:before {
  content: "\e922";
}
.icon-身份证:before {
  content: "\e923";
}
.icon-审核通过:before {
  content: "\e924";
}
.icon-收益与期限:before {
  content: "\e925";
}
.icon-投资规则:before {
  content: "\e926";
}
.icon-银行流水:before {
  content: "\e927";
}
.icon-营业执照:before {
  content: "\e928";
}
.icon-征信报告:before {
  content: "\e929";
}
.icon-资金安全:before {
  content: "\e92a";
}
.icon-资金去向:before {
  content: "\e92b";
}
.icon-down2:before {
  content: "\e92c";
  color: #506371;
}
.icon-erweima:before {
  content: "\e92d";
}
.icon-up:before {
  content: "\e92e";
  color: #506371;
}
.icon-安全提示:before {
  content: "\e900";
}
.icon-产品-01:before {
  content: "\e901";
}
.icon-产品-02:before {
  content: "\e902";
}
.icon-发现-01:before {
  content: "\e903";
}
.icon-发现-02:before {
  content: "\e904";
}
.icon-我的-01:before {
  content: "\e905";
}
.icon-我的-02:before {
  content: "\e906";
}
.icon-消息:before {
  content: "\e907";
}
.icon-主页-01:before {
  content: "\e908";
}
.icon-主页-02:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90a";
}
.icon-back:before {
  content: "\e916";
}
.icon-clean:before {
  content: "\e917";
  color: #d9dde1;
}
.icon-down:before {
  content: "\e918";
}
.icon-eye-close:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-wrong:before {
  content: "\e91b";
}
.icon-安全提示2:before {
  content: "\e911";
}
.icon-产品-012:before {
  content: "\e912";
}
.icon-产品-022:before {
  content: "\e913";
}
.icon-发现-012:before {
  content: "\e914";
}
.icon-发现-022:before {
  content: "\e915";
}
.icon-我的-012:before {
  content: "\e90b";
}
.icon-我的-022:before {
  content: "\e90c";
}
.icon-消息2:before {
  content: "\e90d";
}
.icon-主页-012:before {
  content: "\e90e";
}
.icon-主页-022:before {
  content: "\e90f";
}
.icon-right2:before {
  content: "\e910";
}
.icon-question:before {
  content: "\e936";
}
