<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>颐锦天辰网络科技</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx91ebdef19b6d7011</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>backApp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>App需要访问媒体资料库,提供更好的服务!</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要访问蓝牙,提供更好的服务!</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要访问日历,提供更好的服务!</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要访问相机,提供更好的服务!</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要访问通讯录,提供更好的服务!</string>
	<key>NSHealthShareUsageDescription</key>
	<string>App需要访问健康分享,提供更好的服务!</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App需要访问健康更新,提供更好的服务!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要始终访问位置,提供更好的服务!</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要访问位置,提供更好的服务!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要在使用期间访问位置,提供更好的服务!</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要访问麦克风,提供更好的服务!</string>
	<key>NSMotionUsageDescription</key>
	<string>App需要访问运动与健身,提供更好的服务!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要保存图片到相册,提供更好的服务!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要访问相册,提供更好的服务!</string>
	<key>NSRemindersUsageDescription</key>
	<string>App需要访问提醒事项,提供更好的服务!</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
